notebook
librosa
matplotlib
numpy==1.26.4 # libraries jams and soundata are not updated for NumPy 2.0
pandas
scipy
tqdm
datasets
ipywidgets
torch
torchaudio
wandb
huggingface-hub
seaborn
matplotlib
scikit-learn
datetime
soundata
wandb